<h1>Vehiculos Registrados</h1>
<div class="clear"></div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Tipo Vehiculo</th>
      <th scope="col">Placa</th>
      <th scope="col">Fecha de Ingreso</th>
      <th scope="col">Dar Salida</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of vehiclesDto">
      <td>{{item.typeVehicle}}</td>
      <td>{{item.plate}}</td>
      <td>{{item.checkIn}}</td>
      <td><img src="../../assets/checkout_32px.png" class="editIcon" (click)="checkoutVehicle(item)"></td>
    </tr>
  </tbody>
</table>
